{% extends "base.html" %}
{% block content %}
     <h1>About Page</h1>
     <p class="text-justify">
        Electrical / Electronics Engineering (EEE), deals with the engineering problems, 
        opportunities, and needs of electrical, electronics, computer, telecommunication 
        systems and related industries. This branch provides students with a wide range 
        of fundamental knowledge in core disciplines such as communications, control systems, 
        signal processing, radio frequency design, microprocessors, microelectronics, power 
        generation, and electrical machines. The discipline focuses on design and manufacture 
        of electrical, electronic devised, computers and their component parts, as well as on 
        the integration of components into complex systems.<br><br>
        Electrical Electronics Engineering started at the University of Jos in 2014/2015 
        academic calendar along with three other departments, Civil, Mechanical and Mining 
        under the faculty of Engineering.  <br><br>
        The philosophy of the department is to “impart Electrical and Electronics Engineering 
        knowledge and skills at all levels to men and women of all race, religious or political 
        beliefs in order to serve the needs of the nation and mankind inn general”.      
     </p>
{% endblock content %}