<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>EEE Online Registration Portal - {{ title }}</title>
    {% else %}
        <title> EEE Online Registration Portal </title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">

</head>
<body>
    <div class="container-fluid text-light text-white">
        <nav style="background-color: #092a50;" class="navbar navbar-expand-lg navbar-light text-light bg-color bg-site">
            <a class="navbar-brand active small" href=" {{ url_for('home') }} ">EEE PORTAL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul style="text-decoration: none; text-decoration-color: #ffffff; color: aliceblue;" class="navbar-nav mr-auto">
                <li class="nav-item active small">
                    <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active small">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
                <li class="nav-item active small">
                        <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
                </li>
                <li class="nav-item active small">
                    <a class="nav-link" href="{{url_for('forum')}}" tabindex="-1" aria-disabled="true">Forum</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item pull-right active small">
                        <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
                    </li>
                    <li class="nav-item pull-right active small">
                        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                    </li>

                {% else %}
                    <li class="nav-item pull-right active small">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                    <li class="nav-item pull-right active small">
                        <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    </li>
                {% endif %}
                </ul>
                <form class="form-inline small pull-center my-2 my-sm-0">
                <input class="form-control small mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn small btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            </nav>
    </div>
    <div class="container mt-3">
        {% block header %}{% endblock %}
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <h4 style=" background-color: #092a50; color: #ffffff; padding: 10px;">Our Sidebar</h4>
                <p class="text-muted">
                    Quick links to help you navigate faster.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Annoucements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">Events</li>
                        <li class="list-group-item list-group-item-light">Gallery</li>
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
        
    <!-- Sticky Footer -->
    <div class="col-md-12 text-center">
            <div class="btn btn-default" style="font-size: 15px;">
             <b><a href="#"> Home </a> |
                <a href="#"> About </a> |
                <a href="#"> Contact </a> |
                <a href="#"> Privacy </a></b>
             </div>
    </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <b>Copyright © 2019 - All rights reserved. Developed by - <span style="text-decoration: none; color:black;"><a href="https://about.me/gyrationtechs"> David Ozokoye</a></b></span>
            </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>



</body>
</html>